body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.painel {
    width: 1090px;
    height: 750px;
    background-color: #404a5f;
    margin: 20px auto;
    position: relative;
}

.quadrado {
    width: 55px;
    height: 55px;
    background-color: #d9f1ed;
    color: white;
    border-radius: 6px;
    text-align: center;
    line-height: 55px;
    position: absolute;
    box-shadow: 0 3px 5px #00000055;
}

.quadrado:hover {
    background-color: #bebebe;
}

.n1 { left: 10px; top: 10px; }
.n2 { left: 76px; top: 10px; }
.n3 { left: 142px; top: 10px; }

.n4 { left: 452px; top: 85px; }
.n5 { left: 518px; top: 85px; }
.n6 { left: 584px; top: 85px; }

.n7 { left: 894px; top: 160px; }
.n8 { left: 960px; top: 160px; }
.n9 { left: 1026px; top: 160px; }

.n10 { left: 10px; top: 235px; }
.n11 { left: 518px; top: 235px; }
.n12 { left: 1026px; top: 235px; }

.n13 { left: 160px; top: 310px; }
.n14 { left: 518px; top: 310px; }
.n15 { left: 876px; top: 310px; }

.n16 { left: 235px; top: 385px; }
.n17 { left: 518px; top: 385px; }
.n18 { left: 800px; top: 385px; }

.n19 { left: 452px; top: 460px; }
.n20 { left: 518px; top: 460px; }
.n21 { left: 584px; top: 460px; }

.n22 { left: 1026px; top: 535px; }
.n23 { left: 518px; top: 535px; }
.n24 { left: 10px; top: 535px; }

.n25 { left: 160px; top: 610px; }
.n26 { left: 518px; top: 610px; }
.n27 { left: 876px; top: 610px; }

.n28 { left: 442px; top: 685px; }
.n29 { left: 518px; top: 685px; }
.n30 { left: 594px; top: 685px; }